@font-face {
  font-family: "nikefont";
  src: url("https://www.nike.com/styleguide/assets/fonts/nike/5fdc935e-9e30-442a-bbe9-8d887b858471.woff\a") format("woff"); }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  width: 100%; }

footer {
  margin-top: 100px;
  padding: 40px;
  background-color: #1B1B1B;
  width: 100%;
  display: flex;
  justify-content: center; }

footer .shoe {
  display: flex;
  justify-content: center;
  width: 800px;
  justify-content: flex-start; }

footer ul {
  padding: 0px 30px; }

footer ul:first-child {
  font-family: nikefont;
  color: #FFF;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  flex-direction: column; }

footer ul:nth-child(2), footer ul:nth-child(3) {
  font-family: sans-serif;
  color: #888;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  flex-direction: column; }
  footer ul:nth-child(2) li:first-child, footer ul:nth-child(3) li:first-child {
    font-family: nikefont;
    color: #FFF;
    font-size: 14px;
    font-weight: normal; }

footer ul li:hover {
  color: #DDD;
  cursor: pointer; }

footer ul {
  list-style-type: none;
  line-height: 2em; }

.gallery h3 {
  font-family: nikefont;
  color: #333;
  font-size: 22px;
  font-weight: bold; }

.gallery {
  background-color: #FFF;
  padding: 30px 50px;
  display: flex;
  flex-direction: column; }

.gallery-items, .gallery-accessories {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  justify-content: space-between; }

.gallery-accessories {
  flex-wrap: wrap; }

.gallery-item {
  padding: 0px 20px 0px 0px; }

.gallery-item-pic {
  height: 600px;
  width: 460px; }
  .gallery-item-pic:hover {
    cursor: pointer; }

.gallery-accessories .gallery-item-pic {
  width: 570px;
  height: 750px; }
  .gallery-accessories .gallery-item-pic:hover {
    cursor: pointer; }

.gallery-item-pic img {
  width: 100%;
  height: 100%; }

.gallery-item-text p {
  font-family: sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: light;
  margin-top: 30px; }
  .gallery-item-text p:nth-child(2):hover {
    text-decoration: underline;
    cursor: pointer; }

.gallery-accessories .gallery-item-text p:nth-child(2) {
  color: #888;
  margin-top: 10px;
  margin-bottom: 100px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%; }

.header-top {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #DDD; }

.header-top img.jumpman {
  transform: translateY(2px);
  height: 15px;
  filter: opacity(50%); }
  .header-top img.jumpman:hover {
    filter: opacity(100%); }

.header-top img.hurley {
  height: 10px;
  filter: opacity(50%); }
  .header-top img.hurley:hover {
    filter: opacity(100%); }

.header.top ul {
  height: 40px; }

.header-top li {
  transform: translate(0px, 10px);
  font-family: sans-serif;
  color: #888;
  font-size: 12px;
  font-weight: light;
  display: inline;
  padding: 12.5px 30px;
  border-right: 1px solid #DDD; }
  .header-top li:hover {
    color: #333;
    cursor: pointer; }
  .header-top li.cart {
    transform: translateY(10px);
    border: none;
    padding: 12.5px; }

.header-bottom {
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between; }

.header-bottom .logo {
  height: 40%; }

.header-bottom li {
  font-family: nikefont;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  padding: 0px 20px; }

.header-bottom input {
  font-family: sans-serif;
  color: #888;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 20px; }

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  align-items: flex-start;
  justify-content: center;
  min-height: 1600px;
  height: 100%;
  background-image: url("../img/lebron-hero.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 120px; }

.hero h2 {
  font-family: nikefont;
  color: #FFF;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 10px; }

.hero p {
  font-family: sans-serif;
  color: #FFF;
  font-size: 15px;
  font-weight: lighter; }

.hero button {
  background-color: #FFF;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  font-family: nikefont;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #DDD;
  margin-top: 20px; }
  .hero button:hover {
    color: #333;
    cursor: pointer; }

.sub-hero {
  margin-top: 140px;
  width: 100%;
  display: flex;
  justify-content: center; }

.sub-hero img {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0; }

.white-stripe {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  flex-direction: column;
  align-items: center; }

.white-stripe h2 {
  font-family: nikefont;
  color: #333;
  font-size: 30px;
  font-weight: bold; }

.white-stripe p {
  font-family: sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: light;
  margin-top: 5px; }

.white-stripe button {
  background-color: #FFF;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  font-family: nikefont;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #DDD;
  margin-top: 20px;
  margin: 20px 5px; }
  .white-stripe button:hover {
    color: #333;
    cursor: pointer; }

.white-stripe-buttons {
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=styles.css.map */
