footer {
  padding: 40px;
  background-color: $black-dark;
  width: 100%;
  @include dflexc; }

footer .shoe {
  @include dflexc;
  width: 800px;
  justify-content: flex-start; }

footer ul {
  padding: 0px 30px;
}

footer ul:first-child {
  @include fontss(nikefont, $white, 14px, normal);
  @include dflex;
  flex-direction: column; }

footer ul:nth-child(2), footer ul:nth-child(3) {
  @include fontss(sans-serif, $grey, 12px, normal);
  @include dflex;
  flex-direction: column;
  & li:first-child {
    @include fontss(nikefont, $white, 14px, normal); } }

footer ul li:hover {
  color: $grey-lt;
  cursor: pointer; }


footer ul {
  list-style-type: none;
  line-height: 2em; }
