header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%; }

.header-top {
    @include dflexc;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid $grey-lt; }

.header-top img.jumpman {
  transform: translateY(2px);
  height: 15px;
  filter: opacity(50%);
  &:hover {
    filter: opacity(100%); } }

.header-top img.hurley {
  height: 10px;
  filter: opacity(50%);
  &:hover {
    filter: opacity(100%); } }

.header-top img.converse {
  height: 10px;
  filter: opacity(50%);
  &:hover {
    filter: opacity(100%); } }

.header.top ul {
  height: 40px; }

.header-top li {
  transform: translate(0px,10px);
  @include fontss(sans-serif,$grey,12px,light);
  display: inline;
  padding: 12.5px 30px;
  border-right: 1px solid $grey-lt;
  &:hover {
  color: $black;
  cursor: pointer; }
  &.cart {
    transform: translateY(10px);
    border: none;
    padding: 12.5px; } }


.header-bottom {
  @include dflexc;
  height: 80px;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between; }

.header-bottom .logo {
  height: 40%; }

.header-bottom li {
  @include fontss(nikefont,$black,16px,bold);
  display: inline;
  padding: 0px 20px; }

.header-bottom input {
  @include fontss(sans-serif,$grey,14px,normal);
  padding: 10px 20px; }
