.hero {
  @include dflexc;
  flex-direction: column;
  padding: 50px;
  align-items: flex-start;
  justify-content: center;
  min-height: 1600px;
  height: 100%;
  background-image: url("../img/lebron-hero.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 120px; }

.hero h2 {
  @include fontss(nikefont,$white,40px,lighter);
  margin-bottom: 10px; }

.hero p {
  @include fontss(sans-serif,$white,15px,lighter); }

.hero button {
  @include button($white,$black); }
