.white-stripe {
  @include dflexc;
  margin-top: 140px;
  flex-direction: column;
  align-items: center; }

.white-stripe h2 {
    @include fontss(nikefont,$black,30px,bold); }

.white-stripe p {
  @include fontss(sans-serif,$black,14px,light);
  margin-top: 5px; }

.white-stripe button {
  @include button($white,$black);
  margin: 20px 5px;
 }

.white-stripe-buttons {
  @include dflexc; }
